{% extends 'base.html' %}

{% block content %}

<div class="max-w-4xl mx-auto bg-white rounded-lg shadow-lg p-10 mt-10">

    
    <a href="{%url 'home' %}" class="flex items-center text-gray-600 hover:text-gray-900 transition-colors duration-200 mb-6">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
        <span>Back to Gallery</span>
    </a>

    <div class="flex items-center justify-between border-b pb-6 mb-6">
        <div class="flex items-center">
            <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="w-24 h-24 rounded-full object-cover mr-8 shadow-md">
        <div>

        <h2 class="text-2xl font-semibold text-gray-800 mb-1">{{ user.username }}</h2>
        <p class="text-gray-600 text-sm mb-2">{{ user.email }}</p>
        <p class="text-gray-700">{{ user.profile.bio }}</p>
    </div>
</div>
      <a href="{% url 'edit_profile' %}" class="inline-block bg-gray-200 hover:bg-gray-300 text-gray-700 font-medium py-2 px-4 rounded-full shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75">
          Edit Profile
      </a>
</div>

 <div>
        <h3 class="text-xl font-semibold text-gray-800 mb-4">My Uploads</h3>
        {% if user_photos %}

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for photo in user_photos %}

            <div class="bg-gray-100 rounded-lg shadow-md overflow-hidden relative">

                <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="w-full h-48 object-cover">
                <div class="p-4">

                    <h4 class="text-lg font-semibold text-gray-700">{{ photo.title }}</h4>
                    <p class="text-sm text-gray-500 mt-1">Tags: {{ photo.tags }}</p>
                </div>

                <form method="post" action="{% url 'delete_photo' photo.id %}" class="absolute top-2 right-2">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white p-1 rounded-full text-xs font-bold leading-none focus:outline-none focus:shadow-outline" title="Delete Photo">
                        &times;
                    </button>
                </form>

            </div>
            {% endfor %}
        </div>

        {% else %}
        <p class="text-gray-600">You haven't uploaded any photos yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
